<ion-header>
  <ion-navbar>
    <ion-title>Reviews</ion-title>
  </ion-navbar>

</ion-header>

<!--if the company data has not yet been reteived, *ngIf will hide the ion-content-->
  <ion-content *ngIf="company">
  <!-->angular like a for each loop -->
  <ion-item *ngFor="let rating of company.rating" (click)="showAlert(rating)">
    <!--Loop with *ngfor and display each element inside its own item-->
  <ion-row>
    <ion-col col-2>
  <ion-avatar ion-start>
  <img src="http://placehold.it/10x10">
  </ion-avatar>
  </ion-col>
  <!--grid width in ionic is 12 just like Bootstrap-->
  
  <ion-col col-10 class="rowCol">
  <h2 class = "companyname" text-wrap>
    {{rating.user.fullname}}
  </h2>
  
  <ion-col class="dataCol">
    <ion-row>
      <ion-col col-12 text-wrap> 
  <span class = "time">
   {{GetReviewTime(rating.created)}}
  
  </span>
      </ion-col>
      
      <ion-col col-12 class = "rating">
     <span class="avg">  
         <newrating [ratingnumber]="rating.userOverall"></newrating>
     <p>
       <!--you can use <p text-wrap> to wrap the text instead of cutting it off-->
        {{rating.review.substr(0,20)}}...
        
        <!--three dots shows still contains some text-->

     </p>

     </span>
  
   
      </ion-col>     
      
    </ion-row>
  </ion-col>
  
    </ion-col>
  
  </ion-row>
  </ion-item>
  </ion-content>
  
