page-createcompany {

       ion-content{
        margin-top: 5px !important;//changed from 10 to 5
    }

    .label-md[stacked] {
        font-size: 1.7 rem;
        font-weight: 500;
    }

    .btnItem .item-inner {
        border: none !important;
            }

    .item-inner .button {
        margin: 0px;
        height: 40px;
        font-weight: bold;
        font-size: 15px;
    }
}

